{% extends "fe_app/base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<style>
    a{
        text-decoration: none;
        color : #2714ED
    }
</style>
    <p><a href="{% url 'fe_app:thread' thread.id %}">{{ thread }}</a></p>   <!--Send info back to thread-->

    <p>Add a new post:</p>
    <form action="{% url 'fe_app:new_post' thread.id %}" method= 'POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="Submit">Add post</button>
    </form>
</head>
</html>
{% endblock content %}