{% extends "fe_app/base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
    a{
        text-decoration: none;
        color : #2714ED
    }
    a.bottom{
        text-decoration: none;
        color : inherit
    }
</style>
    
    <h1><b>Threads</b></h1>
    <ul>
        {% for thread in threads %}
            <li>
                <a href="{% url 'fe_app:thread' thread.id %}">{{ thread }}</a>
            </li>
        {% empty %}
            <li>No threads have been created yet. Start a thread!</li>
        {% endfor %}
    </ul>

    <button><a href="{% url 'fe_app:new_thread' %}" class = "bottom">Add a new thread</a></button>

</head>
</html>
{% endblock content %}